body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sc-dmyDmy.fEnJOm.rdt_TableHeadRow {
  font-size: 16px;
  font-weight: 800;
}

.bg-gradient-to-r.from-\[\#c850c0\].to-\[\#4158d0\].min-h-\[100vh\].h-full.sidebars {
  position: fixed;
  width: 25%;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
